---
title: Martin´s Gradient Collection
---


<div class="banner">
  <div class="banner-content">
    <h1>Martin is learning middleman</h1>
    <p>So he is listing some gradients!</p>
  </div>
</div>


<div class="container">
  <h1 class="text-center intro">Some trendy beauty</h1>
  <div class="row">
     <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="<%= flat.background %>">
          <div class="card-category"><%= flat.name %></div>
          <div class="card-description">
            <h3><%= flat.city_name %></h3>
            <p><%= flat.description %></p>
          </div>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
</div>
</div>

